#site {
    background-color: rgb(50, 150, 200);
}

#tab_content {
    background-color: white;
}

#tab_content {
    padding-top: 0px;
    margin-top: 20px;
}

@media (min-width: 1600px) {
  .container {
    width: 1440px;
  }
}
